---
http_interactions:
- request:
    method: get
    uri: https://transaction.mundipaggone.com/MundiPaggService.svc?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><wsdl:definitions name="MundiPaggService"
        targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
        xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
        xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"><wsp:Policy
        wsu:Id="basicHttp_policy"><wsp:ExactlyOne><wsp:All><sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy"><wsp:Policy><sp:TransportToken><wsp:Policy><sp:HttpsToken
        RequireClientCertificate="false"/></wsp:Policy></sp:TransportToken><sp:AlgorithmSuite><wsp:Policy><sp:Basic256/></wsp:Policy></sp:AlgorithmSuite><sp:Layout><wsp:Policy><sp:Strict/></wsp:Policy></sp:Layout></wsp:Policy></sp:TransportBinding></wsp:All></wsp:ExactlyOne></wsp:Policy><wsdl:types><xsd:schema
        targetNamespace="http://tempuri.org/Imports"><xsd:import schemaLocation="https://transaction.mundipaggone.com/MundiPaggService.svc?xsd=xsd0"
        namespace="http://tempuri.org/"/><xsd:import schemaLocation="https://transaction.mundipaggone.com/MundiPaggService.svc?xsd=xsd1"
        namespace="http://schemas.microsoft.com/2003/10/Serialization/"/><xsd:import
        schemaLocation="https://transaction.mundipaggone.com/MundiPaggService.svc?xsd=xsd2"
        namespace="http://schemas.datacontract.org/2004/07/MundiPagg.One.Service.DataContracts"/></xsd:schema></wsdl:types><wsdl:message
        name="MundiPaggService_CreateOrder_InputMessage"><wsdl:part name="parameters"
        element="tns:CreateOrder"/></wsdl:message><wsdl:message name="MundiPaggService_CreateOrder_OutputMessage"><wsdl:part
        name="parameters" element="tns:CreateOrderResponse"/></wsdl:message><wsdl:message
        name="MundiPaggService_ManageOrder_InputMessage"><wsdl:part name="parameters"
        element="tns:ManageOrder"/></wsdl:message><wsdl:message name="MundiPaggService_ManageOrder_OutputMessage"><wsdl:part
        name="parameters" element="tns:ManageOrderResponse"/></wsdl:message><wsdl:message
        name="MundiPaggService_QueryOrder_InputMessage"><wsdl:part name="parameters"
        element="tns:QueryOrder"/></wsdl:message><wsdl:message name="MundiPaggService_QueryOrder_OutputMessage"><wsdl:part
        name="parameters" element="tns:QueryOrderResponse"/></wsdl:message><wsdl:message
        name="MundiPaggService_GetInstantBuyData_InputMessage"><wsdl:part name="parameters"
        element="tns:GetInstantBuyData"/></wsdl:message><wsdl:message name="MundiPaggService_GetInstantBuyData_OutputMessage"><wsdl:part
        name="parameters" element="tns:GetInstantBuyDataResponse"/></wsdl:message><wsdl:message
        name="MundiPaggService_RetryOrder_InputMessage"><wsdl:part name="parameters"
        element="tns:RetryOrder"/></wsdl:message><wsdl:message name="MundiPaggService_RetryOrder_OutputMessage"><wsdl:part
        name="parameters" element="tns:RetryOrderResponse"/></wsdl:message><wsdl:portType
        name="MundiPaggService"><wsdl:operation name="CreateOrder"><wsdl:input wsaw:Action="http://tempuri.org/MundiPaggService/CreateOrder"
        message="tns:MundiPaggService_CreateOrder_InputMessage"/><wsdl:output wsaw:Action="http://tempuri.org/MundiPaggService/CreateOrderResponse"
        message="tns:MundiPaggService_CreateOrder_OutputMessage"/></wsdl:operation><wsdl:operation
        name="ManageOrder"><wsdl:input wsaw:Action="http://tempuri.org/MundiPaggService/ManageOrder"
        message="tns:MundiPaggService_ManageOrder_InputMessage"/><wsdl:output wsaw:Action="http://tempuri.org/MundiPaggService/ManageOrderResponse"
        message="tns:MundiPaggService_ManageOrder_OutputMessage"/></wsdl:operation><wsdl:operation
        name="QueryOrder"><wsdl:input wsaw:Action="http://tempuri.org/MundiPaggService/QueryOrder"
        message="tns:MundiPaggService_QueryOrder_InputMessage"/><wsdl:output wsaw:Action="http://tempuri.org/MundiPaggService/QueryOrderResponse"
        message="tns:MundiPaggService_QueryOrder_OutputMessage"/></wsdl:operation><wsdl:operation
        name="GetInstantBuyData"><wsdl:input wsaw:Action="http://tempuri.org/MundiPaggService/GetInstantBuyData"
        message="tns:MundiPaggService_GetInstantBuyData_InputMessage"/><wsdl:output
        wsaw:Action="http://tempuri.org/MundiPaggService/GetInstantBuyDataResponse"
        message="tns:MundiPaggService_GetInstantBuyData_OutputMessage"/></wsdl:operation><wsdl:operation
        name="RetryOrder"><wsdl:input wsaw:Action="http://tempuri.org/MundiPaggService/RetryOrder"
        message="tns:MundiPaggService_RetryOrder_InputMessage"/><wsdl:output wsaw:Action="http://tempuri.org/MundiPaggService/RetryOrderResponse"
        message="tns:MundiPaggService_RetryOrder_OutputMessage"/></wsdl:operation></wsdl:portType><wsdl:binding
        name="basicHttp" type="tns:MundiPaggService"><wsp:PolicyReference URI="#basicHttp_policy"/><soap:binding
        transport="http://schemas.xmlsoap.org/soap/http"/><wsdl:operation name="CreateOrder"><soap:operation
        soapAction="http://tempuri.org/MundiPaggService/CreateOrder" style="document"/><wsdl:input><soap:body
        use="literal"/></wsdl:input><wsdl:output><soap:body use="literal"/></wsdl:output></wsdl:operation><wsdl:operation
        name="ManageOrder"><soap:operation soapAction="http://tempuri.org/MundiPaggService/ManageOrder"
        style="document"/><wsdl:input><soap:body use="literal"/></wsdl:input><wsdl:output><soap:body
        use="literal"/></wsdl:output></wsdl:operation><wsdl:operation name="QueryOrder"><soap:operation
        soapAction="http://tempuri.org/MundiPaggService/QueryOrder" style="document"/><wsdl:input><soap:body
        use="literal"/></wsdl:input><wsdl:output><soap:body use="literal"/></wsdl:output></wsdl:operation><wsdl:operation
        name="GetInstantBuyData"><soap:operation soapAction="http://tempuri.org/MundiPaggService/GetInstantBuyData"
        style="document"/><wsdl:input><soap:body use="literal"/></wsdl:input><wsdl:output><soap:body
        use="literal"/></wsdl:output></wsdl:operation><wsdl:operation name="RetryOrder"><soap:operation
        soapAction="http://tempuri.org/MundiPaggService/RetryOrder" style="document"/><wsdl:input><soap:body
        use="literal"/></wsdl:input><wsdl:output><soap:body use="literal"/></wsdl:output></wsdl:operation></wsdl:binding><wsdl:service
        name="MundiPaggService"><wsdl:port name="basicHttp" binding="tns:basicHttp"><soap:address
        location="https://transaction.mundipaggone.com/MundiPaggService.svc"/></wsdl:port></wsdl:service></wsdl:definitions>
  recorded_at: Mon, 05 Jan 2015 19:10:10 GMT
- request:
    method: post
    uri: https://transaction.mundipaggone.com/MundiPaggService.svc
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://tempuri.org/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:mun="http://schemas.datacontract.org/2004/07/MundiPagg.One.Service.DataContracts"><env:Body><tns:CreateOrder><tns:createOrderRequest><mun:AmountInCents>1</mun:AmountInCents><mun:CurrencyIsoEnum>BRL</mun:CurrencyIsoEnum><mun:MerchantKey>MERCHANT-KEY</mun:MerchantKey><mun:CreditCardTransactionCollection><mun:CreditCardTransaction><mun:AmountInCents>1</mun:AmountInCents><mun:CreditCardBrandEnum>Mastercard</mun:CreditCardBrandEnum><mun:CreditCardNumber>5555666677778884</mun:CreditCardNumber><mun:CreditCardOperationEnum>AuthAndCapture</mun:CreditCardOperationEnum><mun:ExpMonth>10</mun:ExpMonth><mun:ExpYear>2019</mun:ExpYear><mun:HolderName>Bruno
        Azisaka Maciel</mun:HolderName><mun:InstallmentCount>1</mun:InstallmentCount><mun:SecurityCode>123</mun:SecurityCode></mun:CreditCardTransaction></mun:CreditCardTransactionCollection></tns:createOrderRequest></tns:CreateOrder></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://tempuri.org/MundiPaggService/CreateOrder"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body><CreateOrderResponse
        xmlns="http://tempuri.org/"><CreateOrderResult xmlns:a="http://schemas.datacontract.org/2004/07/MundiPagg.One.Service.DataContracts"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><a:BuyerKey>00000000-0000-0000-0000-000000000000</a:BuyerKey><a:MerchantKey>MERCHANT-KEY</a:MerchantKey><a:MundiPaggTimeInMilliseconds>332</a:MundiPaggTimeInMilliseconds><a:OrderKey>0562f9ed-a578-4b4a-9e60-db9c9b25f625</a:OrderKey><a:OrderReference>61fdf3aa</a:OrderReference><a:OrderStatusEnum>Paid</a:OrderStatusEnum><a:RequestKey>49499d51-f294-4157-8163-df9cda2b311c</a:RequestKey><a:Success>true</a:Success><a:Version>1.0</a:Version><a:CreditCardTransactionResultCollection><a:CreditCardTransactionResult><a:AcquirerMessage>Stone|0000</a:AcquirerMessage><a:AcquirerReturnCode>APPR</a:AcquirerReturnCode><a:AmountInCents>1</a:AmountInCents><a:AuthorizationCode>505548</a:AuthorizationCode><a:AuthorizedAmountInCents>1</a:AuthorizedAmountInCents><a:CapturedAmountInCents>1</a:CapturedAmountInCents><a:CreditCardNumber>555566****8884</a:CreditCardNumber><a:CreditCardOperationEnum>AuthAndCapture</a:CreditCardOperationEnum><a:CreditCardTransactionStatusEnum>Captured</a:CreditCardTransactionStatusEnum><a:CustomStatus
        i:nil="true"/><a:DueDate i:nil="true"/><a:ExternalTimeInMilliseconds>673</a:ExternalTimeInMilliseconds><a:InstantBuyKey>95c705cc-1549-4cd0-a752-82a891412daa</a:InstantBuyKey><a:RefundedAmountInCents
        i:nil="true"/><a:Success>true</a:Success><a:TransactionIdentifier>10550002425058</a:TransactionIdentifier><a:TransactionKey>e4c764a4-8ea9-499b-9dd9-25fd4f0a7202</a:TransactionKey><a:TransactionReference>3af76942-e27f-44ac-97fe-209067b18bda</a:TransactionReference><a:UniqueSequentialNumber>10550002425058</a:UniqueSequentialNumber><a:VoidedAmountInCents
        i:nil="true"/><a:OriginalAcquirerReturnCollection i:nil="true"/></a:CreditCardTransactionResult></a:CreditCardTransactionResultCollection><a:BoletoTransactionResultCollection/><a:MundiPaggSuggestion
        i:nil="true"/><a:ErrorReport i:nil="true"/></CreateOrderResult></CreateOrderResponse></s:Body></s:Envelope>
  recorded_at: Mon, 05 Jan 2015 19:10:12 GMT
recorded_with: VCR 2.9.3
